@{
    Layout = "_Layout";
}

<section class="text">
    <h2 class="heading">Главная</h2>
    <p>Добро пожаловать в менеджер задач</p>
    <p>Здесь вы можете создать задачу для себя, а так же можете помочь найти работу своим коллегам :)</p>
</section>

