.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

a {
    text-decoration: none;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, serif;
}
::selection {
    background-color: #EBEBF2;
    color: #83828D;
}

.wrapper {
    width: 40%;
    margin: 100px auto 0;
    color: #83828D;
}

.wrapper .text {
   padding: 30px;
}

.wrapper .text .heading {
   margin-bottom: 40px;
   font-size: 2em;
}

.wrapper .text p {
   line-height: 1.6em;
}
